*.out
*.dat

book/chap1/*
!book/chap1/*.c
!book/chap1/Makefile*
book/chap2/*
!book/chap2/*.c
!book/chap2/Makefile*
book/chap3/*
!book/chap3/*.c
!book/chap3/Makefile*
book/chap4/*
!book/chap4/*.c
!book/chap4/Makefile*
book/chap5/*
!book/chap5/*.c
!book/chap5/Makefile*
book/chap6/*
!book/chap6/*.c
!book/chap6/Makefile*
book/chap7/*
!book/chap7/*.c
!book/chap7/Makefile*
